<h1>Criteria definition <%= @criteria_definition.id %></h1>

<p>References: <%= @criteria_definition.references %></p>
<p>Categories: <%= @criteria_definition.categories %></p>
<p>Max price: <%= @criteria_definition.max_price %></p>
<p>Destination: <%= @criteria_definition.destination %></p>
